# Code owners for AnLiTaiwan.github.io
# These users are requested for review when someone opens a PR.
# See: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo
* @AnLiTaiwan
